@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Muli', -apple-system, sans-serif;
    overflow-y: hidden;
}

.backImage {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../media/back1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -99;
    overflow: hidden;
}

.centerDiv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.upDiv {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.downDiv {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 1s;
}

#logo {
    width: 120px;
    height: auto;
    margin-left: calc(50% - 60px);
    margin-right: calc(50% - 60px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#signIn>input {
    border: none;
    background: none;
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid white;
    outline: none;
    padding-left: 45px;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

button {
    -webkit-appearance: none;
    outline: none;
}

.mainButton {
    background: none;
    width: 80%;
    height: 40px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 20px;
}

.btnSecond {
    width: 50%;
    margin-top: 25px;
    background: none;
    color: white;
    font-size: 15px;
    height: 60px;
    float: left;
    overflow: hidden;
    border: none;
}

.btnOne {
    width: 50%;
    background: none;
    color: white;
    font-size: 15px;
    height: 60px;
    float: left;
    overflow: hidden;
    border: none;
}

#userLogIn {
    background: url(../media/user.svg) no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 0px !important;
}

#passwordLogIn {
    background: url(../media/password.svg) no-repeat !important;
    background-size: 24px !important;
    background-position: 10px 0px !important;
}

#signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(rgba(54,54,54,0.50) 0%, rgba(0,135,141,0.50) 100%);
    background-image: -o-linear-gradient(rgba(54,54,54,0.50) 0%, rgba(0,135,141,0.50) 100%);
    background-image: linear-gradient(rgba(54,54,54,0.50) 0%, rgba(0,135,141,0.50) 100%);
}

#signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(rgba(0,136,141,0.48) 0%, #00394D 100%);
    background-image: -o-linear-gradient(rgba(0,136,141,0.48) 0%, #00394D 100%);
    background-image: linear-gradient(rgba(0,136,141,0.48) 0%, #00394D 100%);
}

#signUp>input {
    border: none;
    background: none;
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid white;
    outline: none;
    padding-left: 45px;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

input::-webkit-input-placeholder {
    color: rgba(255,255,255,.8);
}

#userSignUp {
    background: url(../media/user.svg) no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 0px !important;
}

#emailSignUp {
    background: url(../media/email.svg) no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 12px !important;
}

#phoneSignUp {
    background: url(../media/phone.svg) no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 10px !important;
}

#passwordSignUp {
    background: url(../media/password.svg) no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 10px !important;
}

#searchBar {
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 8px;
    float: left;
    z-index: 3;
    width: 86%;
    margin-left: 8%;
    height: 40px;
    position: fixed;
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;
}

#searchBar>input {
    width: calc(100% - 40px);
}

#map {
    height: 100%;
/*    background: url(../media/mapa.jpg);*/
    z-index: 1;
}


.upMap {
    width: 96%;
    left: 2%;
    height: 60px;
    top: calc(100% - 60px);
    background: white;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.6);
    border-radius: 8px 8px 0px 0px;
    z-index: 7;
}

.upMap>div {
    width: 50%;
}

.alertButton {
    height: 100px;
    width: 100px;
    background-image: -webkit-linear-gradient(top left, #FF0000 0%, #FF1A00 100%);
    background-image: -o-linear-gradient(top left, #FF0000 0%, #FF1A00 100%);
    background-image: linear-gradient(to bottom right, #FF0000 0%, #FF1A00 100%);
    top: calc(100% - 80px);
    position: fixed;
    margin-left: calc(50% - 50px);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.6);
    z-index: 8;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
    z-index: 99;
}

